body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.wd-main-css-heading {
  color: green;
  background-color: yellow;
}

.wd-fg-color-black {
  color: black !important;
}
.wd-fg-color-white {
  color: white !important;
}
.wd-fg-color-blue {
  color: #7070ff;
}
.wd-fg-color-red {
  color: rgb(191, 7, 7) !important;
}
.wd-fg-color-green {
  color: green !important;
}

.wd-fg-color-grey {
  color: rgb(164, 164, 164) !important;
}

.wd-fg-color-dark-grey {
  color: rgb(103, 103, 103) !important;
}

.wd-bg-color-yellow {
  background-color: #ffff07;
}
.wd-bg-color-blue {
  background-color: #7070ff;
}
.wd-bg-color-red {
  color: rgb(191, 7, 7);
}
.wd-bg-color-green {
  background-color: green;
}
.wd-bg-color-black {
  background-color: black;
}

.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}
.wd-flex-grow-1 {
  flex-grow: 1;
}

.wd-main-page-container {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.wd-kanbas-container {
  display: flex;
}

.wd-main-page-header-sm {
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wd-center-wrapper {
  justify-content: center;
  align-items: center;
}

.wd-main-page-header {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.wd-main-page-header a {
  color: rgb(56, 53, 53);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
}

.wd-main-page-header a:hover {
  color: currentColor;
}

/* .wd-main-page-header i {
    color: rgb(191, 7, 7);
    font-size: 1.5em;
    margin-right: 20px;
  } */

.wd-main-page-header .wd-main-page-header-bar-icon {
  color: rgb(191, 7, 7);
  font-size: 1.5em;
  margin-right: 20px;
}

.wd-main-page-content {
  display: flex;
}

.wd-content-container {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.wd-font-weight-bold {
  font-weight: bold;
}

.form-control:focus,
.form-select:focus {
  border-color: red !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
}

.wd-kanbas-anchor {
  color: rgb(191, 7, 7);
  text-decoration: none;
}

.wd-kanbas-anchor:hover {
  color: rgb(191, 7, 7);
  text-decoration: none;
}

.wd-weight-light-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.25rem;
  line-height: 1.5;
  font-weight: lighter;
  color: rgb(65, 65, 66);
}

.wd-truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.wd-vertical-display {
  display: flex;
  flex-direction: column;
}

.wd-main-page-header-toggle-icon::before {
  content: "▼";
}

.wd-main-page-header-toggle-icon[aria-expanded="true"]::before {
  content: "✖";
}

#sub-navigation-sm {
  margin-bottom: 20px !important;
}

#sub-navigation-sm a {
  font-size: 1rem;
  color: rgb(191, 7, 7);
  text-decoration: none;
}

#kanbas-navigation-sm {
  padding-left: 10px;
  width: 80%;
}

#kanbas-navigation-sm li {
  margin-bottom: 15px;
}

#kanbas-navigation-sm li a {
  font-size: 1.25rem;
  color: rgb(191, 7, 7);
  text-decoration: none;
}

.kanbas-navigation-sm-icon {
  font-size: 1.5rem;
  color: rgb(191, 7, 7);
}

.wd-rounded-pill {
  border: 1px solid grey;
  font-size: 0.8rem;
  padding-left: 1px;
  padding-right: 1px;
}

.wd-icon-container {
  width: 30px;
}

.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  width: 80px;
  margin: 0px;
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 0.8em;
  text-align: center;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: rgb(191, 7, 7);
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}

.wd-kanbas-navigation a:hover {
  color: white;
  text-decoration: none;
}

.wd-kanbas-navigation a i {
  color: rgb(191, 7, 7);
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation-icon {
  color: rgb(191, 7, 7);
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation a .wd-white-icon {
  color: white;
}

.wd-kanbas-navigation .wd-active a .wd-white-icon {
  color: gray;
}

.wd-kanbas-navigation img {
  width: 60px;
  height: auto;
}

.wd-sidebar-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 190px;
  margin: 0px;
}
.wd-sidebar-navigation li {
  padding-left: 10px;
  padding-right: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.wd-sidebar-navigation li.wd-active {
  border-left: 2px solid black;
}
.wd-sidebar-navigation li.wd-active a {
  color: black;
}

.wd-sidebar-navigation a {
  color: rgb(191, 7, 7);
  text-decoration: none;
}

.wd-sidebar-navigation a:hover {
  color: rgb(191, 7, 7);
  text-decoration: none;
}

/* .wd-dashboard-content {
  padding-left: 20px !important;
  padding-right: 20px !important;
} */

.wd-dashboard-content {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: 0px !important;
}

.wd-dashboard-content h3 {
  font-size: 1.3rem !important;
}

.wd-dashboard-grid .col {
  width: 250px !important;
  margin-right: 30px !important;
}

.wd-dashboard-course {
  width: 250px !important;
  height: 240px !important;
  margin-top: 30px !important;
  margin-right: 30px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wd-dashboard-course img {
  width: 100%;
  height: 50%;
}

.wd-dashboard-course-title {
  font-size: 0.875rem;
  font-weight: bold;
  color: rgb(2, 91, 160);
}

.wd-dashboard-course-detail {
  font-size: 12px;
  color: grey;
}

.wd-dashboard-course-number {
  font-size: 1rem;
  color: rgb(208, 206, 206);
}

.wd-dashboard-course-info {
  text-decoration: none;
}

.wd-dashboard-course-icon {
  color: grey;
  font-size: 1.25rem;
  margin-top: 5px;
  margin-left: 5px;
}

.wd-dashboard-course-background {
  background-color: rgb(2, 91, 160);
  width: 100%;
  height: 50%;
}

.wd-course-module-list {
  margin-top: 20px;
  border-radius: 0 !important;
}

.wd-course-module-list .wd-course-module-icon {
  margin-left: 8px;
}

.wd-course-module-list-item {
  font-size: 0.9rem;
  margin-bottom: 30px;
  height: 60px;
}

.wd-course-module-description {
  font-size: 0.7rem;
}

.wd-course-module-link {
  color: rgb(191, 7, 7);
  text-decoration: none;
}

.wd-course-module-link:hover {
  color: rgb(191, 7, 7);
  text-decoration: none;
}

/* .wd-course-right-sidebar {
  margin-top: 20px;
} */

.wd-course-right-sidebar button {
  margin-top: 2px;
}

.wd-course-module-link-description {
  font-size: 0.8rem;
}

.wd-grades-table th:first-child,
.wd-grades-table td:first-child {
  text-align: left;
  padding-left: 20px;
}

.wd-grades-table th:not(:first-child),
.wd-grades-table td:not(:first-child) {
  text-align: center;
}

.wd-grades-table td:first-child {
  color: rgb(191, 7, 7) !important;
}

.wd-course-settings-navi-bar .nav-link {
  color: rgb(191, 7, 7) !important;
}

.wd-course-settings-navi-bar .nav-link.active {
  color: black !important;
}

.wd-course-image-setting {
  width: 200px;
  height: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.wd-course-module-list .list-group-item:not(.list-group-item-secondary) {
  border-left: 4px solid green;
}

.wd-block-button {
  width: 100%;
  margin: 0 !important;
}

.wd-no-padding {
  padding: 0 !important;
}
